{
  "LI_AT_COOKIE": "",
  "BROWSER_OPTIONS": {
    "headless": true,
    "args": [
      "--remote-debugging-address=0.0.0.0",
      "--remote-debugging-port=9222"
    ],
    "slowMo": 20
  },
  "USERNAMES": ["mozedan"]
}
